body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center{
  text-align: center !important;
}
.css-advny6-MuiPopper-root {
  z-index: 1111 !important;
}
.MuiAvatar-root{
  cursor: pointer;
}
.dqwdwqfwq{
  margin-top: 10px !important;
  color: red;
  margin-bottom: 0px !important;
}